.list-index {
  .form-toggle-button {
    position: fixed;
    width: 200px;
    height: 2.3em;
    color: rgb(225, 225, 225);
    background: rgba(0, 0, 0, 0.4);
    transition: 0.25s;

    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }
  }
}

// .create-new-list {
// }

.toggle-form {
  position: absolute;
  border: none;
  border-radius: 3px;
  background: rgba(226, 228, 230, 1);
  padding: 6px;
  width: 200px;
  transition: 0.3s;
  display: none;

  &.is-open {
    display: block;
  }
}

.list-form-input {
  width: 100%;
  color: #4D4D4D;
  font-size: 14px;
  line-height: 1.5em;
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 12px 5px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.list-form-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;

  input {
    margin-right: 12px;
  }

  span {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.2);
    transition: 0.25s;

    &:hover {
      color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }
  }
}
