
.splash-tagline {
  display: flex;
  background: image-url("cmu_splash.jpg");
  // background: 
  background-size: cover;
  background-position: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(7, 127, 196, 0.8);
}

.splash-tagline-box {
  margin: 8em 2em 7em 2em;
  display: flex;
  width: 550px;
  flex-direction: column;
  text-align: center;
  color: #fff;

  h1 {
    font-size: 40px;
    line-height: 1.1em;
    font-weight: bold;
    padding: 0 1em 0;
  }

  p {
    font-size: 20px;
    line-height: 1.2em;
    margin: 1em 0 1em;
  }

  a {
    color: rgb(225, 225, 225);
    margin: 1em 0 1em;

    &:hover{
      color: #fff;
    }

    &.session-button {
      color: #fff;
      background: rgba(90, 172, 68, 0.9);

      &:hover {
        background: rgba(90, 172, 68, 1);
      }
    }
  }

}
