// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Styles

.login-form-container {
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 36px;
  font-weight: 800;
}

Link:hover {
  color: black;
}
