// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Font Variables
$roboto: 'Roboto', sans-serif;

// Styles

body {
  background-color: #F8F9F9;
}

nav.header-login-signup {
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
}

nav.header-login-signup a, button {
  font-size: 1.2em;
  margin: 0 4px 0;
  border: 1px none;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.3);
  padding: 10px 18px 10px;
}

nav.header-login-signup a:hover, button:hover {
  background: rgba(0, 0, 0, 0.2);
}

nav.header-login-signup a:last-child {
  font-weight: 700;
  background: rgba(92, 176, 71, 1);
}

nav.header-login-signup a:last-child:hover {
  font-weight: 700;
  background: rgba(92, 176, 71, 0.8);
}

.login-signup h1 {
  font-size: 36px;
  font-weight: 800;
}

.login-form-box h1 {
  font-size: 42px;
  font-weight: 1000px;
}

.login-form-box a {
  color: #298FCA;
}

.login-form-box a:hover {
  color: #000;
}

.login-form-box {
  width: 40%;
  margin: auto;
  margin-top: 4em;
  font-size: 20px;
  line-height: 2em;
}

.login-form-box input {
  width: 100%;
  color: #4D4D4D;
  font-size: 24px;
  line-height: 1.5em;
  background: #EDEFF0;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 12px 5px;
}

.login-form-box input.session-submit {
  color: #fff;
  font-family: $roboto;
  border: none;
  background: rgba(90, 172, 68, 0.9);
  box-shadow: 0 2px gray;
  margin-top: 1em;
}

.login-form-box input.session-submit:hover {
  background: rgba(90, 172, 68, 1);
}
