@import 'functions';

.board-expo-slideshow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#FEAA4A, #F06E47);
  width: 100%;
  padding: 50px 0 50px;
  color: set-text-color(#F06E47);

  .board-expo-text {
    text-align: center;
    max-width: 70%;
  }

  h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 1.5em;
  }
}

.board-demo-photo {
  width: 1000px;
  background-image: image-url("gylio_board_demo.png");
  box-shadow: 0.5px 1px 1px 1px rgba(50, 50, 50, 0.5);
  border-radius: 1.5px;
  margin: 0 20px 30px;

  @media screen and (max-width: 1200px) {
    width: 80%;
  }
}