.card-detail-body {
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-gap: 10px;
}

.card-detail-main {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 32px auto;
  grid-gap: 10px;
}

.card-detail-sidebar {
  grid-column: 2 / 3;

  .card-detail-sidebar-list {
    padding: 0 8px 20px;
    
    h3 {
      font-size: 16px;
      font-weight: 700;
      line-height: 2em;
    }
  }
}