@import 'variables';

.card-detail-header {
  display: grid;
  grid-template-columns: 32px 1fr 21px;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  width: 100%;
  padding-bottom: 15px;

  .card-detail-header-icon {
    display: flex;
    justify-content: center;
    grid-column: 1 / 2;
    width: 26px;
    height: 26px;
  }

  .card-detail-header-body {
    grid-column: 2 / 3;

    h1 {
      font-size: 20px;
      font-weight: 700;
    }
    
    .parent-list-indicator {
      font-size: 15px;
    
      h3 {
        display: inline-block;
        font-weight: 700;
        color: darken($dark-gray, 10%);
      }
    }
  }

  .card-detail-close-button-container {
    grid-column: 3 / 4;
    position: relative;
    // position: absolute;
    // text-align: right;
    
    .card-detail-close-button {
      position: absolute;
      height: 32px;
      top: -10px;
      font-size: 40px;
      font-weight: 300;
      cursor: pointer; 
      color: $dark-gray;

      &:hover {
        opacity: 0.8;
      }
    }

  }
}
