.card-detail-body {
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-gap: 10px;
}

.card-detail-main {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 32px auto;
  grid-gap: 10px;
}