@import 'variables';
@import 'functions';

.card-detail-modal-container {
  justify-content: center;
}

.card-detail-container {
  width: 770px;
  z-index: 3;
  padding: 20px;
  border-radius: 4px;
  background: $light-gray;
  color: set-text-color($light-gray);
  font-size: 16px;
  font-weight: 300;
  // line-height: 1.1em;

  @media screen and (max-width: 780px) {
    width: 90%;
  }
}

.card-detail-section-icon {
  display: flex;
  justify-content: center;
  grid-column: 1 / 2;
  width: 26px;
  height: 26px;
}

.card-detail-section-body {
  grid-column: 2 / 3;
}