@import 'variables';

.button {
  border: none;
  text-decoration: none;
  background: $med-gray;
  border-radius: 0.2em;
  box-shadow: 0 1px rgba(0, 0, 0, 0.3);
  line-height: 2em;
  padding: 0 18px 0;
  margin-top: 10px;
  box-sizing: border-box;

  // border: 1px solid darken($green-button-color, 20%);
  // text-shadow: 0 -1px 0 darken($green-button-color, 10%);
  // box-shadow: inset 0 1px 0 lighten($green-button-color, 20%);

  &:hover {
    background: $dark-gray;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}