@import 'variables';

[class^="icon-"] {
  display: inline-block;
  background: image-url("sprite.png");
  background-repeat: no-repeat;
  background-size: 1104px 1042px;
  vertical-align: bottom;
  overflow: hidden;
}

.fa-icon-container {
  opacity: 0.4;
  color: #000000;
}

.fa-icon-major {
  width: $icon-large;
  height: $icon-large;
}

.fa-icon-med {
  width: $icon-med;
  height: $icon-med;
}

.fa-icon-sm {
  width: $icon-sm;
  height: $icon-sm;
}