// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300, 400, 700');

// Font Variables
$roboto: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size-small: 15px;

// Color variables 

$primary-color: #026AA7;
$light-gray: #EBEEF0;
$med-gray: #C2CCD1;
$med-gray-hover: darken($med-gray, 3);
$dark-gray: #7C7C7C;
$dark-navy: #092D42;

$green-button-color: rgb(92, 176, 71);
$alert-color: #EB5A46;

// Icon variables 

$icon-large: 22px;
$icon-med: 16px;
$icon-sm: 14px;