// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300, 400, 700');

// Font Variables
$roboto: 'Roboto', sans-serif;

// Color variables 

$primary-color: #026AA7;
$alert-color: #EB5A46;