@import 'variables';

body {
  font-family: $roboto;
  height: 100%;
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px 20px;
  color: #fff;
  background-color: #026AA7;
  box-sizing: border-box;
}

.main {
  position: absolute;
  width: 100%;
}
