@import 'variables';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: $roboto;
  display: flex;
  flex-direction: column;
  background-color: #F8F9F9;
}

.app-container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
}

input {
  &:focus {
    outline: none;

    // &::-webkit-input-placeholder {
    //   color: rgba(0, 0, 0, 0.2);
    // }
  }

  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}