// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Font Variables
$roboto: 'Roboto', sans-serif;

// Styles

body {
  font-family: $roboto;
  // font-family: 'Montserrat', serif;
  height: 100%;
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px 20px;
  color: #fff;
  background-color: #026AA7;
  box-sizing: border-box;
}

.main {
  position: absolute;
  width: 100%;
}
