.board-show-header {
  width: 100%;
  min-height: 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  margin: auto;
  box-sizing: border-box;

  h1 {
    font-size: 20px;
    font-weight: bold;
  }

}
