.board-show {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.board-show-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 25px 2em;
  box-sizing: border-box;

  h1 {
    font-size: 20px;
    font-weight: bold;
  }

}
